/* App.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 5rem;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(189, 189, 189, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-container {
  background-color: white;
  border-radius: 0.5rem;
  padding: 10px;
  margin: 10px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.modal-container form {
  padding: 60px;
  display: flex;
  flex-direction: column;
}

.modal-container form label {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.modal-container form .form-control {
  margin-bottom: 1rem;
  font-size: 1rem;
  width: 100%;
  padding: 10px;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  visibility: visible;
}

.modal-content {
  width: 100%;
  max-width: 500px;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
